* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf0f6;
    opacity: 0.9;
    font-size: 18px;
}

nav {
    background-color: #98ccd3;
}

div#navbarTogglerDemo02.collapse.navbar-collapse {
    margin-left: 25px;
}

li {
    margin-right: 25px;
}

.dropdown-menu.show {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logoCisne {
    height: 40px;
    margin-left: 20px;
}

.divCarousel {
    margin: 0 10%;
    max-height: 460px;
    padding: 0 10px 10px 10px;;
    border-radius: 0 0 10px 10px;
}

.carousel-item img {
    width: 100%;
    max-height: 375px;
    border-radius: 0 0 10px 10px;
}

.carousel-caption {
    background-color: #364e68;
    opacity: 0.75;
    border-radius: 10px;
    border: 1px solid #ebf0f6;
    padding: 10px;
    max-width: 27%;
    top: 5%;
    left: 1%;
}

.carousel-caption p {
    font-size: 0.80em;
    overflow: hidden;
    max-height: 90%;
}

.whatAreWeSeeing {
    margin: 10px 0 0 7.5%;    
}

.divMovies {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    margin-top: 0.9em;
    grid-gap: 10px;
    justify-content: center;
}

.card {
    width: 10rem;
}

.card-body {
    height: 66px;
    display: inline-flex;
    align-items: flex-start;
    padding: 5px;
    overflow: hidden;
}

.card-img-top {
    height: 220px;
}

.btn-outline-success {
    color: #132238;
    border-color: #132238;
}

.btn-outline-success:hover {
    background-color: #364e68;
    border-color: #98ccd3;
}

.modal-body {
    display: flex;
}

.card-img-left {
    width: 200px;
}

.modalInfo {
    padding: 10px;
    font-size: 15px;
}

@media (max-width: 576px) {
    .divMovies {
        grid-template-columns: repeat(auto-fill, 126px);
        grid-column-gap: 30px;
    }

    .card {
        width: 8rem;
    }

    .card-img-left {
        width: 8rem;
        height: 13rem;
        float: left;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .card-img-top {
        height: 10rem;
    }

    .modal-header {
        padding: 5px 0 5px 10px;
    }

    .modal-title {
        font-size: 16px;
    }

    .modal-body {
        display: unset;
    }

    .modalInfo {
        font-size: 12px;
        padding: 0;
    }
}



@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
    }
}