* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf0f6;
    opacity: 0.9;
    font-size: 18px;
    color: #132238;
}

nav {
    background-color: #98ccd3;
}
div#navbarTogglerDemo02.collapse.navbar-collapse {
    margin-left: 25px;
}
li {
    margin-right: 25px;
}

.dropdown-menu.show {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logoCisne {
    height: 40px;
    margin-left: 20px;
}

.divMovies {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    margin: 1em;
    grid-gap: 20px;
    justify-content: center;
}

.card {
    margin: 10px;
}
.card-body {
    height: 66px;
    display: inline-flex;
    align-items: flex-start;
    padding: 5px;
    overflow: hidden;
}
.card-img-top {
    height: 220px;
}
.btn-outline-success {
    color: #132238;
    border-color: #132238;
}
.btn-outline-success:hover {
    background-color: #364e68;
    border-color: #98ccd3;
}
.modal-body{
    display: flex;
}
.card-img-left{
    width: 200px;
}
.modalInfo {
    padding: 10px;
    font-size: 15px;
}
@media (max-width: 600px) {

}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 800px;
    }
}